.fileInput {
  display: none !important;
}

.button,
.button:hover,
.button:active,
.button:focus {
  padding: 5px 11px;
  border: 5px solid transparent;
  overflow: hidden;
  color: black;
}

.fileChosen, .fileChosen:focus {
  border-color: #5cb85c;
}

.fileChosen:hover {
  border-color: #449d44;
}
