.container {
  width: 100%;
  text-align: center;
}

.video {
  height: 280px;
  background-color: black;
}

.clips {
  overflow-y: scroll;
  height: 444px;
  padding-top: 15px;
}

.exportButtonContainer {
  background: #0B1626;
  border: 1px white;
}

.exportButton {
  margin: 10px 0;
}
