.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.video {
  height: 280px;
  background-color: black;
}

.clips {
  flex: 1;
  overflow-y: scroll;
  padding-top: 15px;
}

.footer {
  background: #0B1626;
  border: 1px white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exportButton {
  margin: 10px 0;
}
