.projectSelector {
  margin-bottom: 30px;
}

.fileInput {
  width: 40vw;
}

.projectListContainer {
  width: 84vw;
  margin: 0 auto;
}

.projectList {
  margin-bottom: 0;
}

.project {
  color: black;
}

.newProjectName {
  width: 84vw;
}

.error {
  font-size: 1.8rem;
  margin-top: 5px;
  color: red;
}
