.projectSelector {
  margin-bottom: 30px;
}

.fileInput {
  width: 40vw;
}

.projectListContainer {
  width: 84vw;
  margin: 0 auto;
}

.projectList {
  margin-bottom: 0;
}

.project {
  color: black;
}

.errorText {
  font-size: 1.8rem;
  margin-top: 5px;
  color: red;
}

.newProjectName {
  width: 84vw;
  padding: 2px 6px;
  border: 5px solid transparent;
}

.validName, .validName:focus {
  border-color: #5cb85c;
}

.validName:hover {
  border-color: #449d44;
}

.invalidName, .invalidName:focus {
  border-color: #d9534f;
}

.invalidName:hover {
  border-color: #c9302c;
}
