@import "~font-awesome/css/font-awesome.css";

p {
  margin: 0;
  padding: 0;
}

#root {
  color: white;
  background-color: #172232;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-size: 20px;
}

[type=text] {
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
}
