@import "~font-awesome/css/font-awesome.css";

p {
  margin: 0;
  padding: 0;
}

#root {
  color: white;
  background-color: #172232;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-size: 20px;
}

hr {
  margin: 0;
}

[type=text] {
  color: black;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Get rid of the orange outline when a button or input is focused */
input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focus,
button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
  overflow: hidden;
}
